<nav class="navbar navbar-expand-md navbar-light">

    <a href="/">
        <p class="navbar-text">
            <span id="logo">uMalowana</span>
            </br>
            <span id="logo-name">
                by DAJANA ORŁOWSKA-MALARZ
            </span>
        </p>
    </a>

    <div class="collapse navbar-collapse" id="collapse_target">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" href="/team">Zespół</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link  dropdown-toggle" href="/" data-toggle="dropdown">Zabiegi</a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" href="/dermapen">Dermapen</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/peeling">Peeling Medyczny</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/oxygen-infusion">Infuzja Tlenowa</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/fractional-rf">RF Frakcyjny</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/plasma-and-plate-rich-fibrin">Osocze i Fibryna Bogatopłytkowa</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/kobido">Masaż Kobido</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/face-cleanning">Oczyszczanie twarzy</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/injection-lipolysis">Lipoliza Iniekcyjna</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/needle-mesotherapy">Mezoterapia Igłowa</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/diamond-microdermabrasion">Mikrodermabrazja diamentowa</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/cavitation-peeling">Peeling kawitacyjny</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/cleansing-with-acids">Oczyszczanie twarzy kwasami</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/price-list">Cennik</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Kontakt</a>
            </li>
        </ul>
    </div>

    <button class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#collapse_target">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>