<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header-common.ejs') %>

    <script src="js/home.js"></script>
</head>
<body>
    <div style="max-width: 100%;">
        <%- include('partials/header.ejs') %>

        <div class="container">
            <h1>
                <span>Przewodnik po zabiegach</span>
            </h1>
            <div class="row">
                <div class="col-sm-6" style="padding: 1rem 2rem 2rem 2rem;">
                    <img src="img/hall.jpg" width="100%">
                </div>
                <div class="col-sm-6" style="padding: 2.1rem 2rem 0 2rem;">
                    <p>
                        Zabiegi medycyny estetycznej to najskuteczniejsza
                        forma zapobiegania skutkom starzenia skóry, czy
                        przywracania skórze lepszego, młodszego wyglądu.
                    </p>
                    <p>
                        Dopasowane do rodzaju skóry i wieku zabiegi
                        rewitalizujące stosowane regularnie przynoszą
                        znaczne efekty bez zmiany rysów twarzy.
                    </p>
                    <p>
                        Podany przez nas przybliżony czas rekonwalescencji
                        zależny jest od indywidualnych cech każdego z nas
                        (jedni regenerują się szybciej, inny wolniej).
                    </p>
                    <p>
                        Rekomendujemy po zabiegach inwazyjnych
                        używanie żelu z arniki, lub kremu Avene Cicalfate (
                        do kupienia u nas w salonie lub dobrej aptece). Pomoże to szybciej zregenerować skórę po zabiegu.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="list-group text-center" style="padding: 2rem 5.1rem 2rem 5.1rem;">
                    <a href="/dermapen" class="list-group-item list-group-item-action">Dermapen</a>
                    <a href="/peeling" class="list-group-item list-group-item-action">Peeling Medyczny</a>
                    <a href="/cavitation-peeling" class="list-group-item list-group-item-action">Peeling kawitacyjny</a>
                    <a href="/oxygen-infusion" class="list-group-item list-group-item-action">Infuzja Tlenowa</a>
                    <a href="/fractional-rf" class="list-group-item list-group-item-action">RF Frakcyjny</a>
                    <a href="/plasma-and-plate-rich-fibrin" class="list-group-item list-group-item-action">Osocze i Fibryna Bogatopłytkowa</a>
                    <a href="/kobido" class="list-group-item list-group-item-action">Masaż Kobido</a>
                    <a href="/face-cleanning" class="list-group-item list-group-item-action">Oczyszczanie twarzy</a>
                    <a href="/cleansing-with-acids" class="list-group-item list-group-item-action">Oczyszczanie twarzy przy użyciu kwasów</a>
                    <a href="/injection-lipolysis" class="list-group-item list-group-item-action">Lipoliza Iniekcyjna</a>
                    <a href="/needle-mesotherapy" class="list-group-item list-group-item-action">Mezoterapia Igłowa</a>
                    <a href="/diamond-microdermabrasion" class="list-group-item list-group-item-action">Mikrodermabrazja diamentowa</a>
                </div>
            </div>
        </div>

        <%- include('partials/footer.ejs') %>
    </div>
</body>
</html>