<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header-common.ejs') %>
</head>
<body>
    <div style="max-width: 100%;">
        <%- include('partials/header.ejs') %>

        <div class="container">
            <h1>
                <span>Zespół</span>
            </h1>
            <div class="second-title">
                <i>
                    Medycyna estetyczna i kosmetologia
                </i>
            </div>
            <div class="row">
                <div class="col-sm-6" style="padding: 1rem 2rem 2rem 2rem;">
                    <img src="img/dajana.jpg" width="100%">
                </div>
                <div class="col-sm-6" style="padding: 4.2rem 2rem 0 2rem;">
                    <h4>Dajana Orłowska-Malarz</h4>
                    <p>
                        Mgr Pielęgniarstwa, swoje doświadczenie zawodowe zdobywała na 
                        oddziałach onkologicznych. Pasjonatka kosmetologii. 
                    </p>
                    <p>
                        Jej specjalnością jest osocze i fibryna bogatopłytkowa, 
                        mezoterapia igłowa, zabiegi z użyciem RF Frakcyjnego i Dermapena.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6" style="padding: 4.2rem 2rem 0 2rem;">
                    <h4>Sandra Maj</h4>
                    <p>
                        W naszym salonie zajmie się kosmetologia estetyczna. 
                        Wolny czas poświęca zgłębianiu wiedzy z zakresu kosmetologii 
                        i medycyny estetycznej.
                    </p>
                    <p>
                        Jej specjalnością jest depilacja, 
                        terapie odmładzające oraz dbanie o skóry zmagające się 
                        z problemem trądziku lub bliznami potrądzikowymi.
                    </p>
                </div>
                <div class="col-sm-6" style="padding: 1rem 2rem 2rem 2rem;">
                    <img src="img/sandra.jpg" width="100%">
                </div>
            </div>
            <div class="second-title">
                <i>
                    Masażyści i bioenergoterapia
                </i>
            </div>
            <div class="row">
                <div class="col-sm-6" style="padding: 1rem 2rem 2rem 2rem;">
                    <img src="img/patrycja.jpg" width="100%">
                </div>
                <div class="col-sm-6" style="padding: 4.2rem 2rem 0 2rem;">
                    <h3>Patrycja Dolata</h3>
                    <p>
                        Certyfikowana bioenergoterapeutka z holistycznym podejściem 
                        do pacjenta. Entuzjastka medycyny chińskiej oraz zdrowego 
                        trybu życia. 
                    </p>
                    <p>
                        W naszym gabinecie odpowiada za zabiegi z dziedziny 
                        bioenergoterapii oraz masaży energetycznych. 
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6" style="padding: 4.2rem 2rem 0 2rem;">
                    <h3>Marek Korcz</h3>
                    <p>
                        Ekspert w dziedzinie masażu. Od 10 lat prowadzący własna praktykę 
                        podczas której współpracował z takimi firmami jak EnelMed, Siemens, 
                        Daj Sobie Wycisk.
                    </p>
                    <p>
                        Posiada doświadczenie w zakresie masażu leczniczego, sportowego, 
                        prenatalnego, masażu twarzy czy programów modelujących sylwetkę. 
                        Pasjonat masażu i zdrowego trybu życia, ciągle doskonalący swoje umiejętności.
                    </p>
                </div>
                <div class="col-sm-6" style="padding: 1rem 2rem 2rem 2rem;">
                    <img src="img/marek.jpg" width="100%">
                </div>
            </div>
        </div>

        <%- include('partials/footer.ejs') %>
    </div>
</body>
</html>