@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

* {
    color: black;
}

body {
    color: black;
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: 'Courgette', cursive;
}

#logo {
    font-size: 45px;
    font-family: 'Dancing Script', cursive;
}

#logo-name {
    font-size: 12px;
}

footer {
    height: auto;
    margin: 60px auto;
    width: 100%;
    padding-top: 15px;;
}

#copyright {
    font-size: 0.7em;
}

h1 {
    font-family: 'Courgette', cursive;
    margin: 45px auto;
    text-align: center;
    font-size: 40px;
    max-width: 600px;
    position: relative;
}

h1:before {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background: black;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -2;
}

h1:after {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background: black;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: -2;
}

.second-title {
    font-family: sans-serif;
    margin: 18px auto;
    text-align: center;
    font-size: 24px;
    max-width: 600px;
    position: relative;
}

span {
    background: #fff;
}

img {
    border-radius: .9rem;
}

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{ color: black;  }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}

#map {
    border-radius: 12px;
    box-shadow: 6px 6px 9px grey;
}

.list-group a:hover {
    background-color: #365043;
    color: #fdca02;
    border: #a58815 1.8px solid;
}

.list-group a {
    background-color: white;
}

.row {
    margin: 0;
}