<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header-common.ejs') %>
    
    <!-- <link rel="stylesheet" href="css/treatments/peeling.css"> -->
    <!-- <script src="js/treatments/peeling.js"></script> -->
</head>
<body>
    <div style="max-width: 100%;">
        <%- include('../partials/header.ejs') %>

        <div class="container">
            <h1>
                <span>Peeling Kawitacyjny</span>
            </h1>
            <div class="second-title">
                <i>
                    OCZYSZCZANIE ULTRADŻWIĘKAMI 
                </i>
            </div>
            <div class="row">
                <div class="col-sm-6" style="padding: 2rem 2rem 2rem 2rem;">
                    <img src="img/cavitation-peeling.jpg" width="100%">
                </div>
                <div class="col-sm-6" style="padding: 2.1rem 2rem 0 2rem;">
                    <p>
                        Zabieg wykorzystuje działanie ultradźwięków, które oddziałując z cieczą, 
                        przekształcają ją następnie w mikropęcherzyki. Te z kolei pękają i niszczą 
                        komórki martwego naskórka, a także nagromadzone zanieczyszczenia i sebum.
                    </p>
                    <p>
                        Dodatkowo, stosowanie ultradźwięków pozwala na przeprowadzenie mikromasażu 
                        tkanek, dzięki czemu poprawia się ukrwienie i elastyczność skóry.
                    </p>
                    <p>
                        Peeling kawitacyjny stosuje się najczęściej w skojarzeniu z innymi zabiegami 
                        kosmetologicznymi, jako przygotowanie cery do dalszych kroków.
                    </p>
                    <p>
                        Okres rekonwalescencji: 0 dni.
                    </p>
                    <p>
                        Przybliżony koszt: 100 zł.
                    </p>
                </div>
            </div>
        </div>

        <%- include('../partials/footer.ejs') %>
    </div>
</body>
</html>