<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header-common.ejs') %>
    
    <!-- <link rel="stylesheet" href="css/treatments/peeling.css"> -->
    <!-- <script src="js/treatments/peeling.js"></script> -->
</head>
<body>
    <div style="max-width: 100%;">
        <%- include('../partials/header.ejs') %>

        <div class="container">
            <h1>
                <span>Oczyszczanie twarzy kwasami</span>
            </h1>
            <div class="second-title">
                <i>
                    ROZBIJANIE SPOIWA MIĘDZYKOMÓRKOWEGO W WARSTWIE ROGOWEJ NASKÓRKA
                </i>
            </div>
            <div class="row">
                <div class="col-sm-6" style="padding: 2rem 2rem 2rem 2rem;">
                    <img src="img/cleansing-with-acids.png" width="100%">
                </div>
                <div class="col-sm-6" style="padding: 4.2rem 2rem 0 2rem;">
                    <p>
                        Zabiegi polegają na nałożeniu odpowiedniej mieszanki kwasów 
                        na skore w celu  zluszczenia naskórka i oczyszczenia porów.
                    </p>
                    <p>
                        Peeling może być powierzchniowy, sredniogleboki lub głęboki 
                        w zależności od stężenia i rodzaju nałożonych kwasów.
                    </p>
                    <p>
                        Działają przeciwstarzeniowo, rozświetlają skore. Cera po 
                        zabiegu jest promienna i piękna.
                    </p>
                    <p>
                        Okres rekonwalescencji jest zależy od położonej mieszanki: 1-7 dni.
                    </p>
                    <p>
                        Przybliżony koszt: 250 zł.
                    </p>
                </div>
            </div>
        </div>

        <%- include('../partials/footer.ejs') %>
    </div>
</body>
</html>