<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header-common.ejs') %>
    
    <!-- <link rel="stylesheet" href="css/treatments/dermapen.css"> -->
    <!-- <script src="js/treatments/dermapen.js"></script> -->
</head>
<body>
    <div style="max-width: 100%;">
        <%- include('../partials/header.ejs') %>

        <div class="container">
            <h1>
                <span>Dermapen</span>
            </h1>
            <h4>MIKRONAKŁUWANIE, MEZOTERAPIA MIKROIGŁOWA</h4>
            <div class="row">
                <div class="col-sm-6" style="padding: 1rem 2rem 2rem 2rem;">
                    <img src="img/Dermapen.jpg" width="100%">
                </div>
                <div class="col-sm-6" style="padding: .9rem 2rem 0 2rem;">
                    <p>
                        Zabieg oparty jest na wywołaniu kontrolowanego stanu
                        zapalnego i pobudzeniu naturalnych czynników wzrostu w
                        skórze. W ten sposób zmuszamy skóre do przebudowy. 
                    </p>
                    <p>
                        W zależności od problemu, z którym się borykasz dobierzemy
                        indywidualnie ampułkę, która zostanie wtłoczona na poziomie
                        skóry właściwej. Świetnie sprawdzi się u Pań (szczególnie do 35
                        roku życia) oraz w połączeniu z 
                        <a href="/peeling">peelingiem medycznym</a>.
                    </p>
                    <p>
                        Zabieg można połączyć również z peelingami medycznymi takimi
                        jak: PRX T33 lub Bio Re Peel (dodatkowo uzyskamy efekt redukcji
                        zmarszczek, oczyszczenia skóry).
                    </p>
                    <p>
                        Seria zabiegów to około 4-6, w odstępie 2-3 tygodni.
                    </p>
                    <p>
                        Wskazania:
                        <ul>
                            <li>pierwsze oznaki starzenia</li>
                            <li>nierówny koloryt skóry</li>
                            <li>przebarwienia potrądzikowe i posłoneczne</li>
                            <li>blizny/ rozstępy</li>
                        </ul>
                    </p>
                    <p>
                        Okres rekonwalescencji: 1-3 dni ( możliwe widoczne podrażnienie skóry, zaczerwienienie).
                    </p>
                    <p>
                        Przybliżony koszt: 300-400 zł/twarz.
                    </p>
                </div>
            </div>
        </div>

        <%- include('../partials/footer.ejs') %>
    </div>
</body>
</html>