<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header-common.ejs') %>
    
    <!-- <link rel="stylesheet" href="css/treatments/peeling.css"> -->
    <!-- <script src="js/treatments/peeling.js"></script> -->
</head>
<body>
    <div style="max-width: 100%;">
        <%- include('../partials/header.ejs') %>

        <div class="container">
            <h1>
                <span>Mikrodermabrazja diamentowa</span>
            </h1>
            <div class="second-title">
                <i>
                    BŁYSKAWICZNE WYGŁADZENIE I OCZYSZCZENIE SKÓRY
                </i>
            </div>
            <div class="row">
                <div class="col-sm-6" style="padding: 2rem 2rem 2rem 2rem;">
                    <img src="img/mikrodermabrazja-diamentowa.jpg" width="100%">
                </div>
                <div class="col-sm-6" style="padding: 2.1rem 2rem 0 2rem;">
                    <p>
                        Mikrodermabrazja diamentowa to jeden ze sposobów na oczyszczanie skóry. 
                        Wyróżnia się dużą skutecznością, lecz skóra po nim może być zaczerwieniona 
                        i potrzebować chwili na regenerację.
                    </p>
                    <p>
                        Ten rodzaj oczyszczania doskonale sprawdzi się w przypadku skóry tłustej 
                        i łojotokowej. Mikrodermabrazja diamentowa polecana jest osobom zmagającym 
                        się z zaskórnikami, rozszerzonymi porami, przebarwieniami oraz ze zrogowaciałym 
                        naskórkiem.
                    </p>
                    <p>
                        Wskazania:
                        <ul>
                            <li>drobne zmarszczki</li>
                            <li>sucha i tłusta skóra</li>
                            <li>łojotok</li>
                            <li>rozstępy</li>
                        </ul>
                    </p>
                    <p>
                        Okres rekonwalescencji: 1-3 dni.
                    </p>
                    <p>
                        Przybliżony koszt: 200 zł.
                    </p>
                </div>
            </div>
        </div>

        <%- include('../partials/footer.ejs') %>
    </div>
</body>
</html>