<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header-common.ejs') %>
    
    <!-- <link rel="stylesheet" href="css/treatments/peeling.css"> -->
    <!-- <script src="js/treatments/peeling.js"></script> -->
</head>
<body>
    <div style="max-width: 100%;">
        <%- include('../partials/header.ejs') %>

        <div class="container">
            <h1>
                <span>Oczyszczanie Twarzy</span>
            </h1>
            <div class="row">
                <div class="col-sm-6" style="padding: 2rem 2rem 2rem 2rem;">
                    <img src="img/face-cleanning.jpg" width="100%">
                </div>
                <div class="col-sm-6" style="padding: 2.1rem 2rem 0 2rem;">
                    <p>
                        Zapraszamy na 
                        <a href="/diamond-microdermabrasion" target="blank">mikrodermabrazję diamentową,</a>
                        <a href="/oxygen-infusion" target="blank">infuzję tlenową,</a>
                        <a href="/cavitation-peeling" target="blank">peeling kawitacyjny</a>
                        oraz 
                        <a href="/cleansing-with-acids" target="blank">zabiegi z użyciem kwasów.</a>
                    </p>
                    <p>
                        Twoja cera będzie promienna i oczyszczona.
                    </p>
                    <p>
                        Okres rekonwalescencji: 0-2 dni ( w zależności od wybranej metody).
                    </p>
                    <p>
                        Przybliżony koszt: 200 zł.
                    </p>
                </div>
            </div>
        </div>

        <%- include('../partials/footer.ejs') %>
    </div>
</body>
</html>