<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header-common.ejs') %>
    
    <!-- <link rel="stylesheet" href="css/treatments/peeling.css"> -->
    <!-- <script src="js/treatments/peeling.js"></script> -->
</head>
<body>
    <div style="max-width: 100%;">
        <%- include('../partials/header.ejs') %>

        <div class="container">
            <h1>
                <span>RF Frakcyjny</span>
            </h1>
            <div class="second-title">
                <i>
                    Nasz HIT, lifting bez skalpela, radiofrekwencja mikroigłowa
                </i>
            </div>
            <div class="row">
                <div class="col-sm-6" style="padding: 2rem 2rem 2rem 2rem;">
                    <img src="img/Fractional-RF.jpg" width="100%">
                </div>
                <div class="col-sm-6" style="padding: 2.1rem 2rem 0 2rem;">
                    <p>
                        Najnowsza technologia bezoperacyjnego liftingu twarzy i ciała. Spłyca zmarszczki,
                        modeluje kąt żuchwy, zwęża pory, wyrównuje koloryt skóry.
                    </p>
                    <p>
                        Redukuje zaczerwienienia i
                        rozszerzone naczynka. Świetnie sprawdzi się również przy tzw. „workach pod oczami”.
                    </p>
                    <p>
                        Wskazania:
                        <ul>
                            <li>blizny potrądzikowe</li>
                            <li>wiotka skóra</li>
                            <li>zmarszczki</li>
                            <li>rozstępy</li>
                        </ul>
                    </p>
                    <p>
                        Okres rekonwalescencji: 1-3 dni.
                    </p>
                    <p>
                        Przybliżony koszt: 500 zł/twarz.
                    </p>
                </div>
            </div>
        </div>

        <%- include('../partials/footer.ejs') %>
    </div>
</body>
</html>