<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header-common.ejs') %>
    
    <!-- <link rel="stylesheet" href="css/treatments/peeling.css"> -->
    <!-- <script src="js/treatments/peeling.js"></script> -->
</head>
<body>
    <div style="max-width: 100%;">
        <%- include('../partials/header.ejs') %>

        <div class="container">
            <h1>
                <span>Lipoliza Iniekcyjna</span>
            </h1>
            <h4>ODCHUDZANIE</h4>
            <div class="row">
                <div class="col-sm-6" style="padding: 2rem 2rem 2rem 2rem;">
                    <img src="img/injection-lipolysis.jpg" width="100%">
                </div>
                <div class="col-sm-6" style="padding: 2.1rem 2rem 0 2rem;">
                    <p>
                        Jeżeli borykasz się ze złogami tłuszczu w niektórych partiach ciała i mimo ćwiczeń i diety nie możech
                        ich zniwelować, pomożemy!
                    </p>
                    <p>
                        Lipoliza polega na wpuszczeniu odpowiedniej ilości preparatu ( LIPOLAX, LIPOLAB) w tkankę
                        tłuszczową, dochodzi do rozbicia i redukcji komórek tłuszczowych.
                    </p>
                    <p>
                        Partie zabiegowe: podbródek, boczki, brzuch, wewnętrzna strona ud.
                    </p>
                    <p>
                        Okres rekonwalescencji: 0 - 3 dni.
                    </p>
                    <p>
                        Przybliżony koszt: 170-300 zł / partia.
                    </p>
                </div>
            </div>
        </div>

        <%- include('../partials/footer.ejs') %>
    </div>
</body>
</html>