<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header-common.ejs') %>
    
    <!-- <link rel="stylesheet" href="css/treatments/peeling.css"> -->
    <!-- <script src="js/treatments/peeling.js"></script> -->
</head>
<body>
    <div style="max-width: 100%;">
        <%- include('../partials/header.ejs') %>

        <div class="container">
            <h1>
                <span>Masaż Kobido</span>
            </h1>
            <div class="second-title">
                <i>
                    Masaż liftingujący twarzy
                </i>
            </div>
            <div class="row">
                <div class="col-sm-6" style="padding: 2rem 2rem 2rem 2rem;">
                    <img src="img/kobido.jpg" width="100%">
                </div>
                <div class="col-sm-6" style="padding: 2.1rem 2rem 0 2rem;">
                    <p>
                        Dzięki połączeniu techniki masażu relaksującego, drenażu limfatycznego oraz liftingu twarzy dociera
                        w głąb skóry i oddziałuje na mięśnie.
                    </p>
                    <p>
                        Po masażu czujemy się odprężeni, uwalniamy ze skóry toksyny,
                        pobudzamy pracę nerwów, skóry i mięśni. Efektem jest więc naturalny lifting.
                    </p>
                    <p>
                        Wskazania:
                        <ul>
                            <li>oznaki starzenia</li>
                            <li>drobne zmarszczki</li>
                            <li>wiotka skóra</li>
                        </ul>
                    </p>
                    <p>
                        Okres rekonwalescencji: 0 dni – bezpośrednio po zabiegu będziesz wyglądać pięknie!
                    </p>
                    <p>
                        Przybliżony koszt: 100 zł/50 min, następne masaże w cenie 80 zł/50 min.
                    </p>
                    <p>
                        <strong style="font-size: 1.2rem;">
                            W ofercie posiadamy również masaże klasyczne, lecznicze oraz sportowe. 
                            <a href="/price-list">Cennik</a>
                        </strong> 
                    </p>
                </div>
            </div>
        </div>

        <%- include('../partials/footer.ejs') %>
    </div>
</body>
</html>