<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header-common.ejs') %>
    
    <!-- <link rel="stylesheet" href="css/treatments/main.css"> -->
    <!-- <script src="js/treatments/main.js"></script> -->
</head>
<body>
    <div style="max-width: 100%;">
        <%- include('../partials/header.ejs') %>

        <div class="container">
            <h1>
                <span>Przewodnik po zabiegach</span>
            </h1>
            <div class="row">
                <div class="col-sm-6" style="padding: 1rem 2rem 2rem 2rem;">
                    <img src="img/hall.jpg" width="100%">
                </div>
                <div class="col-sm-6" style="padding: 2.1rem 2rem 0 2rem;">
                    <p>
                        Zabiegi medycyny estetycznej to najskuteczniejsza
                        forma zapobiegania skutkom starzenia skóry, czy
                        przywracania skórze lepszego, młodszego wyglądu.
                    </p>
                    <p>
                        Dopasowane do rodzaju skóry i wieku zabiegi
                        rewitalizujące stosowane regularnie przynoszą
                        znaczne efekty bez zmiany rysów twarzy.
                    </p>
                    <p>
                        Podany przez nas przybliżony czas rekonwalescencji
                        zależny jest od indywidualnych cech każdego z nas
                        (jedni regenerują się szybciej, inny wolniej).
                    </p>
                    <p>
                        Rekomendujemy po zabiegach inwazyjnych
                        używanie żelu z arniki, lub kremu Avene Cicalfate (
                        do kupienia u nas w salonie lub dobrej aptece). Pomoże to szybciej zregenerować skórę po zabiegu.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <ul>
                        <li>
                            <a href="/dermapen">Dermapen</a>
                        </li>
                        <li>
                            <a href="/peeling">Peeling Medyczny</a>
                        </li>
                        <li>
                            <a href="/oxygen-infusion">Infuzja Tlenowa</a>
                        </li>
                        <li>
                            <a href="/fractional-rf">RF Frakcyjny</a>
                        </li>
                        <li>
                            <a href="/plasma-and-plate-rich-fibrin">Osocze i Fibryna Bogatopłytkowa</a>
                        </li>
                        <li>
                            <a href="/kobido">Masaż Kobido</a>
                        </li>
                        <li>
                            <a href="/face-cleanning">Oczyszczanie twarzy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <%- include('../partials/footer.ejs') %>
    </div>
</body>
</html>