<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header-common.ejs') %>
    
    <!-- <link rel="stylesheet" href="css/treatments/peeling.css"> -->
    <!-- <script src="js/treatments/peeling.js"></script> -->
</head>
<body>
    <div style="max-width: 100%;">
        <%- include('../partials/header.ejs') %>

        <div class="container">
            <h1>
                <span>Mezoterapia Igłowa</span>
            </h1>
            <h4>KOKTAJLE TAKIE JAK: PINK GLOW, VENOME BTX, ANTIAGE, RRS HYALIFT</h4>
            <div class="row">
                <div class="col-sm-6" style="padding: 2rem 2rem 2rem 2rem;">
                    <img src="img/needle-mesotherapy.jpg" width="100%">
                </div>
                <div class="col-sm-6" style="padding: 2.1rem 2rem 0 2rem;">
                    <p>
                        Zabieg polega na wykonaniu odpowiedniej ilości ukłuć
                        w miejscu zabiegowym (np. twarz) i podaniu
                        śródskórnie lub podskórnie koktajlu do mezoterapii
                        igłowej.
                    </p>
                    <p>
                        Dzięki temu Twoja skóra stanie się
                        promienna, drobne zmarszczki ulegną spłyceniu.
                    </p>
                    <p>
                        Szczególnie polecana przy skórze suchej, pozbawionej życia.
                    </p>
                    <p>
                        Wskazania:
                        <ul>
                            <li>oznaki starzenia</li>
                            <li>zmarszczki</li>
                            <li>przebarwienia</li>
                            <li>trądzik</li>
                        </ul>
                    </p>
                    <p>
                        Okres rekonwalescencji: 1-7 dni (mogą wystąpić siniaki).
                    </p>
                    <p>
                        Przybliżony koszt: 350 zł/twarz.
                    </p>
                </div>
            </div>
        </div>

        <%- include('../partials/footer.ejs') %>
    </div>
</body>
</html>