<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header-common.ejs') %>
    
    <!-- <link rel="stylesheet" href="css/treatments/peeling.css"> -->
    <!-- <script src="js/treatments/peeling.js"></script> -->
</head>
<body>
    <div style="max-width: 100%;">
        <%- include('../partials/header.ejs') %>

        <div class="container">
            <h1>
                <span>Infuzja Tlenowa</span>
            </h1>
            <h4>ZABIEG BANKIETOWY</h4>
            <div class="row">
                <div class="col-sm-6" style="padding: 2rem 2rem 2rem 2rem;">
                    <img src="img/oxygen-infusion.jpg" width="100%">
                </div>
                <div class="col-sm-6" style="padding: 2.1rem 2rem 0 2rem;">
                    <p>
                        Infuzja tlenowa polega na podaniu za pomocą czystego tlenu (w stężeniu 95% - 100%) aplikowanego
                        pod ciśnieniem skoncentrowanych składników odżywczych przekazywanych w głąb skóry.
                    </p>
                    <p>
                        Zabieg może być również wykonywany u kobiet w ciąży oraz pacjentów/pacjentek po leczeniu
                        onkologicznym – to w 100% bezpieczny zabieg.
                    </p>
                    <p>
                        Skóra po zabiegu jest odżywiona, nawilżona, rozjaśniona.
                    </p>
                    <p>
                        Wskazania:
                        <ul>
                            <li>brak nawilżenia skóry</li>
                            <li>drobne zmarszczki</li>
                            <li>cera trądzikowa</li>
                        </ul>
                    </p>
                    <p>
                        Okres rekonwalescencji: 0 dni – bezpośrednio po zabiegu będziesz wyglądać pięknie!
                    </p>
                    <p>
                        Przybliżony koszt: 200 zł/twarz.
                    </p>
                </div>
            </div>
        </div>

        <%- include('../partials/footer.ejs') %>
    </div>
</body>
</html>