<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header-common.ejs') %>
    
    <!-- <link rel="stylesheet" href="css/treatments/peeling.css"> -->
    <!-- <script src="js/treatments/peeling.js"></script> -->
</head>
<body>
    <div style="max-width: 100%;">
        <%- include('../partials/header.ejs') %>

        <div class="container">
            <h1>
                <span>Peeling Medyczny</span>
            </h1>
            <div class="second-title">
                <i>
                    PRX T33/ BIO RE PEEL
                </i>
            </div>
            <div class="row">
                <div class="col-sm-6" style="padding: 2rem 2rem 2rem 2rem;">
                    <img src="img/peeling.jpg" width="100%">
                </div>
                <div class="col-sm-6" style="padding: 2.1rem 2rem 0 2rem;">
                    <p>
                        Zabieg z użyciem mieszanki kwasów, który bez użycia igły stymuluje odnowę i przebudowę skóry. W
                        sposób nieinwazyjny pobudzamy skórę do regeneracji. Preparaty te zarejestrowane są jako wyrób
                        medyczny.
                    </p>
                    <p>
                        Najlepsze efekty możemy uzyskać w terapiach łączonych z 
                        <a href="/dermapen">Dermapenem</a>.
                    </p>
                    <p>
                        Wskazania:
                        <ul>
                            <li>zwiotczenie skóry, twarzy, szyi i dekoltu</li>
                            <li>rozstępy</li>
                            <li>blizny potrądzikowe</li>
                            <li>przebarwienia</li>
                            <li>zmarszczki</li>
                        </ul>
                    </p>
                    <p>
                        Okres rekonwalescencji: 0 dni, z użyciem dermapena (1-3 dni).
                    </p>
                    <p>
                        Przybliżony koszt: 250 zł/twarz.
                    </p>
                </div>
            </div>
        </div>

        <%- include('../partials/footer.ejs') %>
    </div>
</body>
</html>