<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header-common.ejs') %>
    
    <!-- <link rel="stylesheet" href="css/treatments/peeling.css"> -->
    <!-- <script src="js/treatments/peeling.js"></script> -->
</head>
<body>
    <div style="max-width: 100%;">
        <%- include('../partials/header.ejs') %>

        <div class="container">
            <h1>
                <span>OSOCZE I FIBRYNA BOGATOPŁYTKOWA</span>
            </h1>
            <div class="second-title">
                <i>
                    MEZOTERAPIA, „WAMPIRZY LIFTING”
                </i>
            </div>
            <div class="row">
                <div class="col-sm-6" style="padding: 2rem 2rem 2rem 2rem;">
                    <img src="img/plasma-and-plate-rich-fibrin.jpg" width="100%">
                </div>
                <div class="col-sm-6" style="padding: 2.1rem 2rem 0 2rem;">
                    <p>
                        Osocze stosuje się w celu regeneracji skóry, redukcji oznak starzenia oraz blizn. Fibryna jest
                        wolumetryczna co daje jej przewagę nad osoczem – po około 3 zabiegach możemy uzyskać efekt
                        wypełnienia.
                    </p>
                    <p>
                        Okolice zabiegowe: dolina łez, lwia zmarszczka, bruzdy nosowo-wargowe, cała twarz, szyja, dekolt.
                    </p>
                    <p>
                        Bardzo dobrze sprawdza się również jako terapia w problemie wypadania włosów.
                    </p>
                    <p>
                        Wskazania:
                        <ul>
                            <li>oznaki starzenia</li>
                            <li>zmarszczki</li>
                            <li>dolina łez</li>
                            <li>blizny</li>
                            <li>przebarwienia</li>
                            <li>trądzik</li>
                        </ul>
                    </p>
                    <p>
                        Okres rekonwalescencji: 1-7 dni (mogą wystąpić siniaki).
                    </p>
                    <p>
                        Przybliżony koszt: 350-450 zł.
                    </p>
                </div>
            </div>
        </div>

        <%- include('../partials/footer.ejs') %>
    </div>
</body>
</html>